      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron set-height">
        <h1>End</h1>
        <h1>Chronic</h1>
        <h1>Homelessness</h1>
        <p><img src="" height="100" width="100"></p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/index.html#navbar" role="button">Donate Today &raquo;</a>
        </p>
      </div>

      <div class="jumbotron set-height">
        <h1>Story</h1>
        <p>
          The chronically homeless are a small subset of the overall homeless population, comprised of individuals who have at least one disabling condition and experience long-term homelessness.
        </p>
        <p>
          When Gabriel is 18, he's going to be chronicly homeless.
        </p>
        <p>
          <img src="" height="100" width="100">
        </p>
      </div>

      <div class="row">
        <div class="col-md-7 set-height">
          <div class="jumbotron set-height">
            <p>
              <img src="" height="50" width="200">
            </p>
            <p>
              Kitstarter is a platform to provide daily essentials and furnishings for those placed in our housing to help solve chronic homelessness.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="../../components/index.html#navbar" role="button">Donate Today &raquo;</a>
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="jumbotron set-height">
            <p>
              <img src="" height="50" width="100">
            </p>
            <h3>Housing First</h3>
            <p>
              Mobilize the Charlotte-Mechklenburg community to end chronic homelessness
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="../../components/index.html#navbar" role="button">Visit  &raquo;</a>
            </p>
          </div>
        </div>
      </div>